{% extends 'base.html.twig' %}

{% block main %}
    <div class="container body-content">
        <div class="row">
            <h5>Sort By:</h5>
            <ul>
                <li><a href="{{ path('blog_index') }}?sort=title&order=asc">Title</a></li>
                <li><a href="{{ path('blog_index') }}?sort=dateCreated&order=asc">Date</a></li>
            </ul>
            {% for article in articles %}
                <div class="col-md-6">
                    <article>
                        <header>
                            <h1>{{ article.title}}</h1>
                        </header>

                        <p>
                           <h3>{{ article.description }}</h3>
                        </p>

                        <small class="author">
                            {{ article.author.fullname}}
                        </small>

                        <footer>
                            <div class="pull-right">
                                <a class="btn btn-default btn-xs"
                                   href="{{ path('article_details',{'id':article.id}) }} ">Read more &raquo;</a>
                            </div>
                            {% if app.user %}
                            <div class="pull-left">
                                <a class="btn btn-default btn-xs"
                                   href="{{ path('article_edit',{'id':article.id}) }} ">Edit</a>
                            </div>
                            <div class="pull-left">
                                <a class="btn btn-danger btn-xs"
                                   href="{{ path('article_delete',{'id':article.id}) }} ">Delete</a>
                            </div>
                            {% endif %}

                        </footer>
                    </article>
                </div>
            {% endfor %}

        </div>
    </div>

{% endblock %}
